{{ define "index" }}
{{ template "header" }}


    <form action="/save_article" method="post">
      <h1 class="form_h">Форма добавления статьи</h1>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Введите название статьи"
        class="form-control"
      /><br />
      <!-- <input name="reading id="reading" type="range" min="1" max="10">
      <br />
      <input type="range" min="1" max="10">
      <br /> -->
      <button class="btn btn-warning">Добавить</button>
    </form>

    {{ range . }}
    <div class="card">
      <div class="card_first">
        <span>{{ .Title }}</span>
      </div>
      <div>
        <a href="/post/{{ .Id }}" class="btn btn-danger">Подробнее</a>
      </div>
    </div>
    {{ else }}
    <p>Статей нет</p>
    {{ end }}
    {{ template "footer" }} 
    {{ end }}

