{{ define "show" }}
{{ template "header"}}

<div class="card_show">
  <h2>Характеристика</h2>
  <table class="table">
    <tr>
      <td>Название</td>
      <td>{{ .Title }}</td>
    </tr>
    <tr>
      <td>Сложность чтения</td>
      <td>{{ .Reading }}</td>
    </tr>
    <tr>
      <td class="red">Уровень воды</td>
      <td>{{ .Water }}</td>
    </tr>
    <tr>
      <td>Настроение текста</td>
      {{ if eq .Mood "boring" }}
      <td>
        <img class="table_img" src="https://sun9-4.userapi.com/impg/jOcmfEKzi4rUpF_F9H7qvfZJql_lw6Zd3oUdOQ/08FuJlAiXzQ.jpg?size=512x512&quality=96&sign=5264f8688377d9766277f7b88826a3cf&type=album" alt="Boring Image">
        <span>{{ .Mood }}</span>
      </td>
      {{ else if eq .Mood "sad" }}
      <td>
        <img class="table_img" src="https://sun9-75.userapi.com/impg/N3Tebsn268QIb_YoWwxwGtqRItlpatzOohObmw/kgtJ6rDzudY.jpg?size=512x512&quality=96&sign=1211d536d8191e451583d150639f606f&type=album" alt="Sad Image">
        <span>{{ .Mood }}</span>
      </td>
      {{ else if eq .Mood "lovely" }}
      <td>
        <img class="table_img" src="https://sun9-35.userapi.com/impg/NU-Se3mwbmNLxIDMkpb4lnLwpzT2xC7FW1zx8A/sWbXEIRpcfM.jpg?size=512x512&quality=96&sign=a3c888862edc0c1226e6a85c7328aff0&type=album" alt="Lovely Image">
        <span>{{ .Mood }}</span>
      </td>
      {{ else if eq .Mood "happy" }}
      <td>
        <img class="table_img" src="https://sun9-33.userapi.com/impg/Eq9tixXBsxMAbm7R5bF4o7R1bRII-YS3wDcotA/zI_hmN_T6F8.jpg?size=512x512&quality=96&sign=8b3e7d760bf25aefe8d3662c21f54983&type=album" alt="Happy Image">
        <span>{{ .Mood }}</span>
      </td>
      {{ else }}
      <td>
        <img class="table_img" src="https://sun9-17.userapi.com/impg/QU5oavgW6wcoFpi9oenE8KDS7eZrtsZ6oJDWWA/q80Hi602Zoo.jpg?size=512x512&quality=96&sign=304e665c962591c7074d78914a019588&type=album" alt="Scared Image">
        <span>{{ .Mood }}</span>
      </td>
      {{ end }}
    </tr>
        <!-- <tr>
      <td>ещё что то там</td>
      <td>
        {{ if eq .Water "Boring" }}
        <img class="table_img" src="https://sun9-10.userapi.com/impg/ifik98Kra5icnuRDgXSFhxGsRIm1tOfsCLF5Pw/82qZPNQudJQ.jpg?size=512x512&quality=96&sign=59dc3410271183746b4e18d7d9cbca48&type=album" alt="">
   
        {{ end }}
      </td></tr> -->
      </table>
</div>


{{ template "footer" }} 
{{ end }}

