{{ define "show" }}
{{ template "header"}}

<div class="card_show">
  <h2>Характеристика</h2>
  <table class="table">
    <tr>
      <td>Название</td>
      <td>{{ .Title }}</td>
    </tr>
    <tr>
      <td>Уровень воды</td>
      <td>{{ .Happiness }}</td>
    </tr>
    <tr>
      <td>ещё что то там</td>
      <td>{{ .Water }}</td>
    </tr>
    <tr>
      <td>ещё что то там</td>
      <td>{{ .Happiness }}</td>
    </tr>
  </table>
</div>
<div class="card_show card_text">
  <h2>Текст</h2>
  <p>{{ .Full_text }}</p>
</div>

{{ template "footer" }} 
{{ end }}